.g {
  // 间距
  &-gap {
    margin-top: 16px;
    &-l{
      margin-top: 24px;
    }
    &-s{
      margin-top: 8px;
    }
  }

  // 对齐
  &-align {
    &-left { text-align: left; }
    &-center { text-align: center; }
    &-right { text-align: right; }
  }

  &-width {
    width: 440px;
  }
  &-flex {
    display: flex;
  }
}
