.g {
  // 间距
  &-gap {
    margin-top: 16px;
    &-l{
      margin-top: 24px;
    }
    &-s{
      margin-top: 8px;
    }

  }

  // 对齐
  &-align {
    &-left { text-align: left; }
    &-center { text-align: center; }
    &-right { text-align: right; }
  }

  // 布局
  &-width {
    width: 440px;
  }
  &-flex {
    display: flex;
    &-list {
      display: flex;
      flex-direction: column;
      align-items:space-between;
      // justify-content: center;
    }
  }

  //字体大小
  &-size {
    &-l {
      font-size: 26px;
      font-weight: 900;
    }
    &-m {
      font-size: 20px;
      font-weight: 600;

    }
  }
}
